*{
    
    margin: 0%;
    padding: 0%;
    background-color:rgba(9, 38, 111, 0) ;
    font: 100;
}
.sidebar{
    background-color:rgb(8, 24, 142);
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 98% ;
    
    
    }
    .sidebar nav{
        padding: 5px;
    }
    .sidebar nav li{
        list-style-type: none;
        font-size: 22px;
        padding: 23px;

    }
    .sidebar nav li a{
        text-decoration: solid;
        color: rgb(14, 3, 3);
    }
.main{
    background-color:rgb(240, 235, 235);
    display: inline-flex;
    width: 85%;
    
}

.container{
    display:inline-flex;
   
}
.background{
    display: flex;
    justify-content: center;
    size: 100vw;

}

.InfoContainer{
    background-color: rgb(18, 20, 154);
    height: 98%;
    width: 90vw;
    margin: 145px;
    margin-top: 90px;
    display: inline-flex;
    justify-content: none;
    

    
    
}
.InfoContainer-card{
    margin-top: 100px;
}
.Infohandler{
    background-color: rgb(9, 9, 143);
    height: 70vh;
    width: 90vw;
    margin: 0;
    margin-top: 90px;
    display: flex;
    justify-content: none;
    display: contents;
}
.devInfo{
    display: flex;
    justify-content: none;
    flex-direction: none;
    
}
.hello{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.name{
    font-size: 1001px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;

}
.About{
    font-size:20px ;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.moreabout{
    font-size: 21px;
    font-weight: 300;
    margin-top: 20px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Buttons{
    margin-top: 50px;
} 
.Buttons button{
    padding: 20px 47px;
    border-radius: 10001px;
    color: azure;
    background-color: rgb(71, 71, 209);
    font-weight: bold;
    font-size: 20px;
    margin: 0px 1px;
    cursor: pointer;
}

.Buttons button:hover{
    background-color: rgb(8, 80, 80);
    color: rgb(71, 71, 209);

}
.devPic img{
    width: 40vw;
    height: 70vh;
    padding-left: 100px;
    padding-right: 45px ;
}

.contactfrom{
    padding-top: 244px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    display: inline-flex;

}

.contactfrom h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.Services{
    padding-top: 244px;
    font-family: Arial, Helvetica, sans-serif;

}
.Services2{
    padding-top: 244px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.hol{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.can{
    text-decoration: none;
    color: blanchedalmond;
    text-align: right;
    font-size: 20px;
}